<ion-content class="content">
  <p class="text-content" innerHTML="{{'PRIVACY_POLICY_MODAL.HEADER' | translate}}"></p>
  <ion-item lines="none" class="ion-justify-content-center"
    style="display: flex; --padding-top: 10px; --padding-bottom: 10px;">
    <ion-checkbox slot="start" [(ngModel)]="privacyAccepted"></ion-checkbox>
    <span class="text-content">{{'PRIVACY_POLICY_MODAL.CHECKBOX_TEXT' | translate}}</span>
  </ion-item>
  <p class="text-content" innerHTML="{{'PRIVACY_POLICY_MODAL.FOOTER' | translate}}"></p>
  <div class="buttons">
    <ion-button class="cancel" (click)="cancel()">{{'VERBS.CANCEL' | translate}}</ion-button>
    <ion-button (click)="accept()" [disabled]="!privacyAccepted">{{'VERBS.ACCEPT' | translate}}</ion-button>
  </div>
</ion-content>