.content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
}

.text-content {
    font-size: 14px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cancel {
    --background: rgb(60, 60, 60);
    --background-hover: gray;
}
