ion-content {
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
}

#separator {
  border-top: 1px solid rgba(163, 162, 162, 0.397);
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-description,
a {
  font-size: 16px;
  color: rgb(60, 60, 60);
}
