<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'ABOUT.TOOLBAR' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>{{'ABOUT.VERSION_NUMBER' | translate}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top: 0px; padding-top: 0px;">
        <ion-label class="label-description">{{versionNumber}}</ion-label>
      </ion-col>
    </ion-row>
    <div id="separator"></div>
    <ion-row>
      <ion-col>
        <ion-label>{{'ABOUT.RESOURCES' | translate}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top: 0px; padding-top: 0px;">
        <ion-label class="label-description">
          {{'ABOUT.ANIMAL_ICONS_BY' | translate}} <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
          {{'ABOUT.FROM' | translate}} <a href="https://www.flaticon.com/">www.flaticon.com</a>
        </ion-label>
      </ion-col>
    </ion-row>
    <div id="separator"></div>
    <ion-row>
      <ion-col>
        <ion-label>{{'ABOUT.CONTACT' | translate}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top: 0px; padding-top: 0px;">
        <ion-label class="label-description"><a href="mailto:info@escalasalut.com">info@escalasalut.com</a></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>