<ion-header *ngIf="users && users.length > 1">
  <ion-toolbar>
    <ion-title>{{'APP_NAME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="users && users.length > 1">
  <img src="{{'../../assets/paido-logo.png'}}">
  <div class="buttons-container" *ngFor="let user of users">
    <ion-button (click)="goHome(user)">
      <div>
        <p class="ion-no-margin">
          <ion-label>{{'LOGIN.ENTER_AS' | translate}} {{getRole(user.roles)}}</ion-label>
        </p>
        <p class="ion-no-margin">
          <ion-label>{{user.displayName? user.displayName : user.displayId}}</ion-label>
        </p>
      </div>
    </ion-button>
  </div>
</ion-content>