ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

img {
  display: block;
  margin: auto;
}

.buttons-container {
  margin-top: 50px;
  text-align: center;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

ion-button {
  height: auto;
  min-height: 45px;
}

p {
  color: white;
  padding: 5px;
  
  ion-label {
    font-size: 14px;
  }
}
