ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

h1 {
    color: rgb(60, 60, 60);
    text-align: center;
}

ion-button {
    --background: rgb(60, 60, 60);
    --background-hover: gray;
}

p {
    margin-top: 40px;
    color: rgb(87, 80, 80);
}
