<ion-header>
  <ion-toolbar>
    <ion-title>{{'USER_SELECTION.USERNAME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div *ngIf="user && !user.roles.includes('Parent')">
    <h1>{{'USER_SELECTION.SELECT_USERNAME' | translate}}</h1>
    <ion-button (click)="openPicker()" style="margin-top: 20px;">{{'VERBS.SELECT' | translate}}</ion-button>
    <br />
    <ion-icon *ngIf="animalName && animalColor" class="custom" src="{{'../../assets/' + animalName + '.svg'}}"
      style="height: 80px; width: 80px; margin-top: 40px;" [style.color]="animalColor"></ion-icon>
    <p *ngIf="name">{{'USER_SELECTION.YOUR_USERNAME_IS' | translate}} {{name}}</p>
  </div>

  <div [formGroup]="passwordGroup" class="ion-text-left" style="margin-top: 20px;">
    <h1>{{'USER_SELECTION.ENTER_PASSWORD' | translate}}</h1>
    <ion-item>
      <ion-input placeholder="{{'USER_SELECTION.WRITE_PASSWORD' | translate}}" formControlName="passwordControl"
        type="text" (ionChange)="checkRegisterData()" required></ion-input>
    </ion-item>
    <ion-label *ngIf="passwordGroup.controls.passwordControl.invalid && 
    (passwordGroup.controls.passwordControl.touched || passwordGroup.controls.passwordControl.dirty)" color="danger"
      style="font-size: 12px;">
      {{'USER_SELECTION.PASSWORD_WARNING' | translate}}
    </ion-label>
  </div>

  <ion-button expand="block" type="submit" (click)="onSelectionDone()" [disabled]="!registerPassed"
    style="margin-top: 40px;">
    {{'USER_SELECTION.NEXT' | translate}}</ion-button>
</ion-content>