<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME_MENU.MY_INSIGNIAS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="badges && badges.length > 0">
      <ion-list-header>{{'BADGES.ACHIEVE_BADGES' | translate}}</ion-list-header>
      <ion-list>
        <ion-row *ngFor="let badge of badges">
          <ion-col size="5" class="ion-align-self-center">
            <img class="badge"
              [src]="'https://test.escalasalut.com/challenges/badge/' + badge.id + '/image' | authImage | async | safeHtml" />
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-row>
              <ion-label><b>{{badge.name | uppercase}}</b></ion-label>
            </ion-row>
            <ion-row *ngIf="badge.description">
              <ion-label>{{badge.description}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="futureBadges && futureBadges.length > 0">
      <ion-list-header>{{'BADGES.FUTURE_BADGES' | translate}}</ion-list-header>
      <ion-list>
        <ion-row *ngFor="let badge of futureBadges">
          <ion-col size="5" class="ion-align-self-center">
            <img class="future-badge"
              [src]="'https://test.escalasalut.com/challenges/badge/' + badge.id + '/image' | authImage | async | safeHtml" />
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-row>
              <ion-label class="future-label"><b>{{badge.name | uppercase}}</b></ion-label>
            </ion-row>
            <ion-row *ngIf="badge.description">
              <ion-label class="future-label">{{badge.description}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-row>
    <ion-item lines="none" *ngIf="(badges && badges.length == 0) && (futureBadges && futureBadges.length == 0)">
      <p>{{'BADGES.NO_BADGES' | translate}}</p>
    </ion-item>
  </ion-grid>
</ion-content>