#user {
  color: orange;
}

.badge {
  max-height: 120px;
  max-width: 100px;
}

.future-badge {
  max-height: 120px;
  max-width: 100px;
  opacity: 0.3;
}

.future-label {
  color: #a8a8a8d3;
}

ion-content {
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-item {
  --padding-bottom: 20px;
}

ion-label {
  margin-left: 10px;
}

ion-label b {
  font-size: 16px !important;
}

p {
  text-align: center;
}
