<ion-header>
  <ion-toolbar>
    <ion-title>Datos del padre/madre/tutor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Introduzca los datos del padre/madre/tutor</h1>

  <ion-item>
    <ion-label>Fecha nacimiento</ion-label>
    <ion-datetime [max]="maxDatetime" displayFormat="DD MMMM YYYY" placeholder="Selecciona fecha" done-text="Aceptar" cancel-text="Cancelar"
      [(ngModel)]="birthDate"
      monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre,  Octubre, Noviembre, Diciembre">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select okText="Aceptar" cancelText="Cancelar" placeholder="Selecciona uno" [(ngModel)]="selectedSex">
      <ion-select-option value="f">Femenino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" type="submit" (click)="onDataAdded()" [disabled]="!(birthDate && selectedSex)">Guardar
  </ion-button>
</ion-content>