ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  width: 100%;
  height: 100%;
}

.display-number {
  color: gray;
  font-size: 16px;
}

ion-avatar {
  width: 150px;
  height: 150px;
}

ion-grid {
  height: 100%;
}

#separator {
  border-top: 1px solid rgba(163, 162, 162, 0.397);
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-description {
  font-size: 16px;
  color: orange;
}
