ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-icon {
  color: orange;
}

ion-button {
  width: 120px;
  height: 65px;
  color: white;
  font-size: 12px;
}

.ios ion-button {
  font-size: 14px;
  text-transform: uppercase;
}

ion-grid {
  height: 90%;
  display: flex;
  flex-flow: column;
}

.step-title {
  color: orange;
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
}

.top-buttons-row {
  flex-shrink: 0;
  height: 15%;
}

.button-news {
  text-align: start;
}

.button-activities {
  text-align: end;
}

.circle-container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 60%;
}

.circle-step {
  width: 200px;
  height: 200px;
  background: orange;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.circle-inside {
  width: 170px;
  height: 170px;
  position: relative;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.step-image {
  width: 100px;
}

.bottom-buttons-row {
  flex-shrink: 0;
  padding-bottom: 20px;
  height: 15%;
}

.button-challenges {
  text-align: start;
}

.button-questionary {
  text-align: end;
}

.badge {
  margin-left: -15px;
  border-radius: 100%;
  padding: 6px;
  --color: white;
  --background: rgb(255, 75, 0);
  font-size: 14px;
}
