<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'HELP.TOOLBAR' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p innerHTML="{{'HELP.SUBTITLE' | translate}}"></p>
</ion-content>