ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

h1 {
  color: rgb(129, 144, 165);
}

p {
  color:rgb(60, 60, 60);
}

ion-label {
  --color: rgb(129, 144, 165);
}

ion-button {
  margin-top: 40px;
  --background: rgb(60, 60, 60);
  --background-hover: gray;
}
