<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="challenge">{{challenge.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="challenge-header">
    <h1 *ngIf="challenge" class="title">{{challenge.title}}</h1>
  </div>
  <div>
    <span *ngFor="let challengeFor of challenge ? challenge.assignedFor : []; first as isFirst"
      style="margin: 0px; display: inline;">
      <ion-card [style.margin-left.px]="isFirst ? 0 : 10" class="assignedFor">
        {{getChallengeFor(challengeFor) | lowercase}}
      </ion-card>
    </span>
    <ion-card *ngIf="challenge" class="type" style="display: inline;">{{challengeTagType | lowercase}}</ion-card>
    <ion-card *ngIf="challenge" class="step" style="display: inline;">{{challengeCategory}}</ion-card>
  </div>
  <div *ngIf="challenge" class="challenge-specs" style="margin-top: 10px;">
    <p class="start-time" style="display: inline; margin-right: 20px;">
      {{challenge.periodStartDatetime | date:'dd \'de\' MMMM \'del\' yyyy'}} -
      {{challenge.periodFinishDatetime | date:'dd \'de\' MMMM \'del\' yyyy'}}
    </p>
    <div *ngIf="challengeCompleted" style="display: inline-block;">
      <ion-icon name="checkmark-circle-outline" style="color: green; vertical-align: middle; margin-right: 5px;">
      </ion-icon>
      <span style="font-size: 14px;">{{'CHALLENGE_DETAIL.COMPLETED' | translate}}</span>
    </div>
  </div>
  <p *ngIf="challenge">{{challenge.description}}</p>

  <!-- variable content here -->
  <div *ngIf="challenge" [ngSwitch]="challenge.type">
    <!-- content for physical challenge -->
    <div *ngSwitchCase="challengeType.physical"
      [ngStyle]="(arePermissionsAuthorized && challenge.important && hasChallengeStarted) ? {'padding-bottom': '100px'} : {'padding-bottom': '0px'}">
      <p *ngIf="challenge">
        {{'CHALLENGE_DETAIL.OVERCOME_STEPS' | translate}}
        <span style="color: rgb(255, 75, 0);">
          <b>{{challenge.steps}} {{'CHALLENGE_DETAIL.STEPS' | translate}}</b>
        </span>
        {{'CHALLENGE_DETAIL.STEPS_PROPOSED' | translate}}
      </p>
      <div *ngIf="!arePermissionsAuthorized">
        <p>
          {{'CHALLENGE_DETAIL.NEED_PERMISSION' | translate}}
        </p>
        <ion-button expand="block" (click)="getSteps()" [disabled]="!challenge.important || !isOnTime">
          {{'CHALLENGE_DETAIL.ACCESS_STEPS' | translate}}
        </ion-button>
      </div>
      <p *ngIf="!challenge.important && hasChallengeStarted">
        <b>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</b>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <b>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'dd \'de\' MMMM \'del\' yyyy'}}</b>
      </p>
    </div>

    <!-- content for authority challenge -->
    <div *ngSwitchCase="challengeType.authority">
      <div *ngIf="haveToAuthorize && !challengeCompleted">
        <p>{{'CHALLENGE_DETAIL.PRESS_TO_CONFIRM' | translate}}</p>
        <!-- this button is only visible if the challenge is assignedFor a parent -->
        <ion-button *ngIf="authorityIsCompletedByParents()" expand="block" (click)="authorityChallengeDone(false)"
          [disabled]="!haveToAuthorize || !isOnTime" style="margin-bottom: 20px;">
          {{'CHALLENGE_DETAIL.COMPLETED_BY_ME' | translate}}</ion-button>
        <!-- this button is only visible if the challenge is assignedFor a child -->
        <ion-button *ngIf="authorityIsCompletedByChild()" expand="block" (click)="authorityChallengeDone(true)"
          [disabled]="!haveToAuthorize || !isOnTime">
          {{'CHALLENGE_DETAIL.COMPLETED_BY_CHILDREN' | translate}}</ion-button>
      </div>
      <p *ngIf="!haveToAuthorize">
        <b>{{'CHALLENGE_DETAIL.USER_HAS_TO_BE_AUTHORIZED' | translate}}</b>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <b>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'dd \'de\' MMMM \'del\' yyyy'}}</b>
      </p>
    </div>

    <!-- content for gps challenge -->
    <div *ngSwitchCase="challengeType.gps">
      <div id="map"></div>
      <div>
        <ion-button expand="block" (click)="getMyLocation(false)" style="margin-top: 20px;"
          [disabled]="!challenge.important || !isOnTime">
          {{'CHALLENGE_DETAIL.SHOW_MY_POSITION' | translate}}
        </ion-button>
        <p>{{'CHALLENGE_DETAIL.CHECK_MAP_POSITION' | translate}}</p>
        <ion-button expand="block" (click)="goToMap(true)" [disabled]="!challenge.important || !isOnTime">
          {{'CHALLENGE_DETAIL.GO_TO_MAP'| translate}}
        </ion-button>
        <p *ngIf="!challenge.important">
          <b>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</b>
        </p>
        <p *ngIf="!hasChallengeStarted">
          <b>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime
            | date:'dd \'de\' MMMM \'del\' yyyy'}}</b>
        </p>
      </div>
    </div>

    <!-- content for questionary challenge -->
    <div *ngSwitchCase="challengeType.questionnaire">
      <p>{{'CHALLENGE_DETAIL.DO_QUESTIONNAIRE' | translate}}</p>
      <ion-button expand="block" (click)="goToQuestionnaire()" [disabled]="!isOnTime || !challenge.important">
        {{'VERBS.CONTINUE' | translate}}
      </ion-button>
      <p *ngIf="!challenge.important">
        <b>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</b>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <b>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'dd \'de\' MMMM \'del\' yyyy'}}</b>
      </p>
    </div>

    <!-- content for news challenge -->
    <div *ngSwitchCase="challengeType.news">
      <p>{{'CHALLENGE_DETAIL.READ_NEXT_NEWS' | translate}}</p>
      <ion-button expand="block" (click)="goToNews()" [disabled]="!challenge.important">
        {{'CHALLENGE_DETAIL.READ_NEWS' | translate}}
      </ion-button>
      <p *ngIf="!challenge.important">
        <b>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</b>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <b>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'dd \'de\' MMMM \'del\' yyyy'}}</b>
      </p>
    </div>
  </div>
</ion-content>

<!-- Steps card footer for challenge type physical -->
<footer *ngIf="challenge && challenge.type === challengeType.physical">
  <ion-card class="steps-card" *ngIf="arePermissionsAuthorized && challenge.important && hasChallengeStarted">
    <ion-icon name="walk" class="walk-icon"></ion-icon>
    <span class="physicalSteps">
      <b>{{stepsDone}} / {{challenge.steps}} {{'CHALLENGE_DETAIL.STEPS' | translate}}</b>
    </span>
    <div class="ion-activatable" (click)="refreshSteps()">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-icon name="refresh" class="refresh-icon"></ion-icon>
    </div>
  </ion-card>
</footer>