ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-card {
  font-size: 14px;
}

.assignedFor {
  background-color: rgb(100, 210, 220);
  color: white;
  flex: none;
  margin-right: auto;
  text-align: left;
  padding: 3px;
  word-break: break-word;
  max-width: 50px;
  display: inline;
  margin-left: 0px;
}

.type {
  background-color: rgb(60, 60, 60);
  color: white;
  flex: none;
  margin-right: auto;
  text-align: left;
  padding: 3px;
  word-break: break-word;
  max-width: 50px;
}

.step {
  background-color: rgb(255, 75, 0);
  color: white;
  flex: none;
  margin-right: auto;
  text-align: left;
  padding: 3px;
  word-break: break-word;
  max-width: 50px;
}

.challenge-header {
  display: inline;
}

.start-time {
  font-size: 14px;
  color: orange;
}

.steps-card {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(60, 60, 60);
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;

  .walk-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .physicalSteps {
    color: rgb(6, 80, 99);
    font-size: 24px;
    padding: 5px;
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .refresh-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
}

#map {
  width: 100%;
  height: 70vh;
}

.ios ion-button {
  font-size: 16px;
}
