ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    width: 100%;
    height: 100%;
}

ion-avatar {
    width: 80px;
    height: 80px;
}

.my-info {
    --background: rgba(100, 210, 220, 0.562);
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.icon-content {
    display: flex;
    justify-content: center;
}

.icon {
    height: 60px;
    width: 60px;
}

.label-description {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.display-number {
    color: gray;
    font-size: 16px;
}

.my-points {
    color: black;
}

.my-position-label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: black;
}

ion-list {
    padding-top: 10px !important;
}

hr.solid {
    border-top: 1px solid rgba(163, 162, 162, 0.397);
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-position {
    background-color: rgba(100, 210, 220, 0.562);
}

.item-list {
    background-color: white;
}

ion-select {
    --padding-start: 5px;
    font-size: 14px;
    max-width: 100%;
}

.selector-type {
    font-size: 20px;
    --padding-start: 6px;
    font-weight: bold;
}

.item-ranking-field {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.label-ranking-field {
    font-size: 14px;
    display: none;
}

.col-item-list {
    display: flex;
    justify-content: center;
}
