ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

h1 {
    color: rgb(60, 60, 60);
}

h5 {
    color: rgb(60, 60, 60);
}

ion-input {
    color: rgb(60, 60, 60);
    --placeholder-color: rgb(60, 60, 60);
}

ion-button {
    margin-top: 40px;
    --background: rgb(60, 60, 60);
    --background-hover: gray;
}