<ion-header>
  <ion-toolbar>
    <ion-title>{{'APP_NAME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1>{{'REGISTER.TITLE' | translate}}</h1>
  <h5>{{'REGISTER.SUBTITLE' | translate}}</h5>

  <form #authForm="ngForm">
    <ion-item>
      <ion-input name="code" #name="ngModel" placeholder="{{'REGISTER.INPUT_PLACEHOLDER' | translate}}" type="text"
        [(ngModel)]="registerCode" required></ion-input>
    </ion-item>
    <ion-item *ngIf="isAlreadyRegistered">
      <ion-input name="password" #passwordModel="ngModel" placeholder="{{'REGISTER.INPUT_PASSWORD_PLACEHOLDER' | translate}}"
        type="text" [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" (click)="onAccess()" [disabled]="!authForm.valid">
      {{'VERBS.ACCESS' | uppercase | translate}}</ion-button>
  </form>

</ion-content>