<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'SETTINGS.TOOLBAR' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item button lines="none">
    <ion-icon name="radio"></ion-icon>
    <ion-label>Vincular APP actividad</ion-label>
  </ion-item>
  <ion-item button lines="none">
    <ion-icon name="bluetooth"></ion-icon>
    <ion-label>Enlazar monitor de actividad</ion-label>
  </ion-item>
  <ion-item button lines="none">
    <ion-icon name="mail"></ion-icon>
    <ion-label>Mensaje pediatra/enfermería</ion-label>
  </ion-item>
  <div id="separator"></div>
  <ion-item button lines="none">
    <ion-icon name="document"></ion-icon>
    <ion-label>Política de privacidad</ion-label>
  </ion-item>
  <ion-item button lines="none">
    <ion-icon name="person"></ion-icon>
    <ion-label>Modificar información de usuario</ion-label>
  </ion-item> -->
  <ion-item button (click)="showAbout()">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>{{'SETTINGS.ABOUT' | translate}}</ion-label>
  </ion-item>
  <ion-item button lines="none" (click)="showAlertSignOut()">
    <ion-icon name="log-out"></ion-icon>
    <ion-label>{{'SETTINGS.SIGN_OUT' | translate}}</ion-label>
  </ion-item>
</ion-content>